#loader{
   z-index: 3000;
   background: rgba(255,255,255,0.7); 
   border-radius: 3px; 
   position: fixed;  
   top: 0;  
   left: 0;  
   width: 100%;  
   height: 100%; 
   display:none
}
#loader span{
   position: fixed;  
   top: 50%;  
   left: 50%;  
   margin-left: -15px;  
   margin-top: -15px;  
   color: #000;  
   font-size: 20px;
}
table tr td,table tr th{
   vertical-align: middle !important;
}
.select2{
   width: 100%;
}
.select2-container--default .select2-selection--single{
   height: 34px;
   border-radius: 0;
}
#contend{
   padding-bottom: 70px;
}
.alert strong p{
   margin: 0;
}
.thumbnail{
   overflow: hidden;
}
.btn-like{
   margin-top: -10px;
   background: #4266b2;
   font-weight: bold;
}